@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:700);
body {
	background: white;
    margin-bottom: 50px;
}   

p {
    font-family: "Source Sans Pro", Arial, sans-serif;
}

h3.project-section{
    text-align:left;
}

.page-header{
    margin-top: 0;
}

.panel-body{
    paddling-top: 0;
}
.navbar {
    border-radius: 0px;
    border-bottom: 1px solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    background-color: white;
    margin-bottom: 50px;
    min-height: 100px;
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
    
}
.navbar-brand {
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
}
.container {
    width: 900px;
    background: white;
}
html {
  overflow-y: scroll;
}
h1{
    font-family: "Source Sans Pro", Arial, sans-serif;
}
h2{
    font-family: "Source Sans Pro", Arial, sans-serif;
}
h3{
    font-family: "Source Sans Pro", Arial, sans-serif;
}
h4{
    font-family: "Source Sans Pro", Arial, sans-serif;
}
