@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:700);
body {
	background: white;
    margin-bottom: 50px;
}   

p {
    font-family: "Source Sans Pro", Arial, sans-serif;
}

h3.project-section{
    text-align:left;
}

.page-header{
    margin-top: 0;
}

.panel-body{
    paddling-top: 0;
}
.container {
    width: 900px;
    background: white;
}
html {
  overflow-y: scroll;
}
h1{
    font-family: "Source Sans Pro", Arial, sans-serif;
}
h2{
    font-family: "Source Sans Pro", Arial, sans-serif;
}
h3{
    font-family: "Source Sans Pro", Arial, sans-serif;
}
h4{
    font-family: "Source Sans Pro", Arial, sans-serif;
}
